* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}
button {
	font-family: 'Poppins', sans-serif;
}

header {
	display: flex;
	width: 95%;
	height: 10vh;
	margin: auto;
	align-items: center;
}

/* Cookie */

#cookie_container {
    width: 20%;
    margin: -10;
    padding: 2% 2% 0% 2%;
    text-align: right;
    display: inline-block;
    float: left
}

#cookieQuantity {
	font-size: 400%;
}

img#cookie {
    cursor: pointer;
    width: 88%;
    max-width: 630px;
    transition: all 0.2s;
    margin: 40px auto 0 auto;
}

img#cookie:hover {
    width: 90%;
    max-width: 640px;
}

img#cookie:active {
    width: 92%;
    max-width: 620px;
    padding-top: 5px;
}

.click_feedback {
    position: absolute;
    pointer-events: none;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 4px #222;
    font-size: 24px;
    animation-name: disspearup;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}


/* The animation code */

@keyframes disspearup {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate(0, -150px);
    }
}

/* Shop */

#shop_container {
    width: 20%;
    margin: 0;
    display: inline-block;
    float: right;
}

#shop_container ul#products {
    list-style-type: none;
    padding: 0;
}

.product {
    background-color: #a7e09f;
    margin-top: 20px;
    padding: 5px;
    cursor: pointer;
    color: #fff;
    transition: all 0.3s;
    font-weight: bold;
    height: 70px;
}

.product:hover {
    background-color: #a7e09f;
}

.product:active {
    background-color: #a7e09f;
}

.product .product_image {
	position: relative;
	top: 0px;
    height: 55px;
    margin-right: 5px;
}

.product .product_image, .product .product_text {
    display: inline-block;
	vertical-align: top;
	padding-left: 20px;
}

.product .product_title {
    font-size: 20px;
    font-weight: normal;
}

.product .product_name {
    font-size: 20px;
    font-weight: bold;
}

.product .product_price {
    font-size: 15px;
    background-image: url("./images/cookie_icon.svg");
    background-repeat: no-repeat;
    padding-left: 30px;
}

.product .product_owned {
    float: right;
    font-size: 20px;
}


.logo-container,
.nav-links,
.cart {
	display: flex;
}

.hours{
	font-family: 'Poppins', sans-serif;
	color: #5f5f79;
	align-items: center;
	margin: auto;
}

.days-list {
	text-decoration: none;
}

.logo-container {
	flex: 1;
}
.logo {
	font-weight: 400;
	margin: 5px;
	font-size: 20px;
	text-decoration: none;
	object-fit: contain;
	font-family: 'Sound Bubble', sans-serif;
}

#logo {
	font-family: 'Sound Bubble', sans-serif;
	object-fit: contain;
	text-decoration: none;
}
nav {
	flex: 4;
}
.nav-links {
	justify-content: space-around;
	list-style: none;
}
.nav-link {
	color: #5f5f79;
	font-size: 15px;
	text-decoration: none;
}
.cart {
	flex: 1;
	justify-content: flex-end;
}

.presentation {
	display: flex;
	width: 90%;
	margin: auto;
	min-height: 80vh;
	align-items: center;
}
.introduction {
	flex: 1;
}
.intro-text h1 {
	font-family: 'Alegreya' , sans;
	font-size: 44px;
	background: linear-gradient(to right, #494964, #6f6f89);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.intro-text p {
	margin-top: 5px;
	font-size: 22px;
	color: #585772;
}
.cta {
	padding: 50px 0px 0px 0px;
}
.cta-select {
	border: 2px solid #a7e09f;
	background: transparent;
	color: #a7e09f;
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 16px;
}
.cta-add {
	background: #a7e09f;
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 16px;
	border: none;
	color: white;
	margin: 30px 0px 0px 30px;
}

.cover {
	height: 60vh;
	padding: 20px;
}

.coverText {
	justify-content: center;
	padding-bottom: 2px;
	color: #a7e09f;
}
.cover img {
	height: 100%;
	filter: drop-shadow(0px 5px 3px black);
	animation: drop 1.5s ease;
	justify-content: center;
}

.big-circle {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: -1;
	opacity: 0.5;
	height: 80%;
}
.medium-circle {
	position: absolute;
	top: 30%;
	right: 30%;
	z-index: -1;
	height: 60%;
	opacity: 0.4;
}
.small-circle {
	position: absolute;
	bottom: 0%;
	left: 20%;
	z-index: -1;
}

.laptop-select {
	width: 15%;
	display: flex;
	justify-content: space-around;
	position: absolute;
	right: 20%;
}

@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@media screen and (max-width: 1024px) {
	.presentation {
		flex-direction: column;
	}
	.introduction {
		margin-top: 5vh;
		text-align: center;
	}
	.intro-text h1 {
		font-size: 30px;
	}
	.intro-text p {
		font-size: 18px;
	}
	.cta {
		padding: 10px 0px 0px 0px;
	}
	.laptop-select {
		bottom: 5%;
		right: 50%;
		width: 50%;
		transform: translate(50%, 5%);
	}
	.cover img {
		height: 80%;
	}
	.small-circle,
	.medium-circle,
	.big-circle {
		opacity: 0.2;
	}
}
